{% if messages %}
    {% for message in messages %}
        <div class="col-md-12">
        {% if message.tags == 'error'  %}
            <div id="message" class="alert alert-danger text-center" role="alert">{{ message }}</div>
        {% elif message.tags == 'success' %}
            <div id="message" class="alert alert-success text-center" role="alert"> {{ message }} </div>
        {% else %}
            <div id="message" class="alert alert-info text-center" role="alert"> {{ message }} </div>
        {% endif %}
        </div>
    {% endfor %}
{% endif %}